<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/_header :: head(pageTitle='Step 1')">
</head>

<body>
<div th:insert="fragments/_header :: header"></div>
<h2>Step One - Pick something about your professional background to establish credibility</h2>
<img th:src="@{/img/firststep.jfif}" alt="Answer Accomplishment">
<p>
    You don’t have time to include a summary of your resume or even the chronology. Besides, that’s boring. Instead, focus
    on a specific professional accomplishment that puts you at the right level (e.g., if you’re in management, don’t mention
    an individual contributor role). Pick something that is relevant to where you want to work. For example, you could mention:
</p>
<p>
    1.     Your current company and role. This is not necessarily your title, if your title is generic (e.g., VP, Director)
    or full of jargon (e.g., names a department no one outside your company would recognize)
</p>
<p>
    2.     What you are working on, learning or researching. If you are in-between jobs or consulting but looking to go
    in-house, you still want to focus on being active, rather than saying you’re unemployed or in transition. Remember
    too that even though you are working on your job search, you don’t want to mention that – instead talk about the
    companies you’re researching or things you’re hearing about the market
</p>
<p>
    3.     Industry expertise or other special knowledge. Rather than a role, you talk about your overall industry of
    other expertise, including how many years you’ve been in this area or a cutting-edge fact that leaves no doubt that
    you’re current in your field
</p>
<p>
    4.     The arc of your career – e.g., several employers, industries or roles. This is useful if you’re in-between roles
    but want to highlight that you have existing experience. Even if you’re currently employed, you may decide that your
    overall experience is more interesting than any one role
</p>
<p>
    5.     Types of clients you serve and results you achieve. Many jobs, especially as you get more senior, have multiple
    responsibilities, but by talking about who you serve and what the results are, you hone in on the value you deliver,
    rather than how you do it or what your day-to-day is like
</p>
<p>
    6.     Sample recent project or client story. By drilling down to one example, you showcase your expertise and experience
    while also telling a story. If you have a particularly interesting before/ after result to share, or a hero’s journey,
    this could be a good way to package your credibility
</p>
<p>Content taken from <a
        href="https://www.forbes.com/sites/carolinecenizalevine/2020/04/27/how-to-create-a-networking-pitch-in-three-easy-steps/?sh=3b1ca1c5b803">here.</a></p>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>