<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/_header :: head(pageTitle='Networking Pitch')">
</head>

<body>
<div th:insert="fragments/_header :: header"></div>
<h2>
    Networking
</h2>
<p>
    How to Create a Networking pitch in three easy steps.
</p>
<img th:src="@{/img/Network.jpg}" class="network" alt="Network image">
<p>
    The best networking pitch introduces you in a concise and compelling way. However, capturing your personality and highlighting
    the best of your background, all while not rambling on for too long is difficult.
</p>
<p>
    Content taken from <a href="https://www.forbes.com/sites/carolinecenizalevine/2020/04/27/how-to-create-a-networking-pitch-in-three-easy-steps/?sh=3b1ca1c5b803">here.</a>
</p>
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>